* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-size: 1.2rem;
}

img {
  max-width: 250px;
}

h1 {
  text-align: center;
  padding: 20px 0;
}

.wrapper {
  background: rgb(36, 36, 36);
  min-height: 100vh;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.form {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.btn {
  border: none;
  padding: 10px 20px;
  background: rgb(135, 219, 144);
  color: black;
  cursor: pointer;
}

.btn:hover {
  outline: 2px solid white; 
}

.form input {
  padding: 10px 20px;
  font-size: 1rem;
}

.form label {
  font-size: 1.3rem;
}

.hourly {
  display: flex;
  gap: 5px;
}

.hourly > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 10px 30px 10px;

  background: rgba(78, 58, 37, 0.7);
  text-align: center;
}

.current-temp {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.current-temp-right {
  font-size: 1.45rem;
  background: rgba(17, 26, 28, 0.73);
  padding: 10px 20px;
}

.current-temp-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.current-temp button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.temp-value {
  font-size: 2.5rem;
  color: rgb(246, 220, 255);
}

.current-temp button.selected{
  font-size: 1.5rem;
  color: rgb(168, 210, 225);
}

.days {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.day {
  cursor: pointer;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(45, 44, 48, 0.7);
  padding: 10px 10px 30px 10px;
}

.day:hover {
  background: rgb(61, 61, 65, 0.7);
}

.day.selected {
  outline: 2px solid rgb(137, 135, 140);
}

/* https://loading.io/css/ */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hot-sun {
  background-image: 
    linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
    ), url("./imgs/sunhot.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.cold-snow {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
    ), url("./imgs/coldasheck.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.rain {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
    ), url("./imgs/rain.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.snowflakes {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
    ), url("./imgs/snow.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
}
